<div class="footer-container">
  <div class="button-container" (click)="Kliknut1()"
       [ngStyle]="{'background-color': isKliknut1===true ? '#fd7014': '#EEEEEE'}">
    <img src="../../../assets/Slike/icons8-home-24.png" alt="">
    <p>Home</p>
  </div>

  <div class="button-container" (click)="Kliknut2()"
  [ngStyle]="{'background-color': isKliknut2===true ? '#fd7014': '#EEEEEE'}">
    <a routerLink="/ponuda"><img src="../../../assets/Slike/lopta.png" alt="">
    <p>Ponuda</p>
    </a>
  </div>
  <div class="button-container" (click)="Kliknut3()"
       [ngStyle]="{'background-color': isKliknut3===true ? '#fd7014': '#EEEEEE'}">
    <a routerLink="/rezultati">
    <img src="../../../assets/Slike/stoperica.png" alt="">
    <p>Uživo</p>
    </a>
  </div>
  <div class="button-container" (click)="Kliknut4()"
       [ngStyle]="{'background-color': isKliknut4===true ? '#fd7014': '#EEEEEE'}">
    <a routerLink="/tiket">
    <img src="../../../assets/Slike/poklon.png" alt="">
    <p>Tiket</p>
    </a>
  </div>
  <div class="button-container" (click)="Kliknut5()"
       [ngStyle]="{'background-color': isKliknut5===true ? '#fd7014': '#EEEEEE'}">
    <img src="../../../assets/Slike/kruna.png" alt="">
    <p>Jackpot</p>
  </div>
</div>
