<div class="nav-bar-container">
  <div class="lijevi">
    <svg id="menu" data-name="Switch to Burger Menu" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 40 32">
      <rect id="Rectangle_2637" data-name="Rectangle 2637" width="40" height="32" fill="none"/>
      <g id="Group_2668" data-name="Group 2668" transform="translate(10 10)">
        <line id="Line_8" data-name="Line 8" x1="20" fill="none" stroke="#FCFCFC" stroke-linecap="round" stroke-width="2.5"/>
        <line id="Line_9" data-name="Line 9" x1="20" transform="translate(0 6)" fill="none" stroke="#FCFCFC" stroke-linecap="round" stroke-width="2.5"/>
        <line id="Line_10" data-name="Line 10" x1="20" transform="translate(0 12)" fill="none" stroke="#FCFCFC" stroke-linecap="round" stroke-width="2.5"/>
      </g>
    </svg>
<div class="logo-container">
  <img class="logo" src="../../../assets/Slike/logo.png" alt="Nema slike">
  <h1>Bet</h1>
</div>



  </div>
  <div class="desni">
    <div class="btn-container">
      <button id="btn-login">Login</button>
      <button id="btn-registracija">Registruj se</button>
    </div>

  </div>
</div>
