<app-nav-bar></app-nav-bar>
<app-banners></app-banners>
<div class="container">
  <form [formGroup]="formaRegistracija">
    <h1>LOGIN</h1>
    <div class="form-group">

      <input type="text" formControlName ="username" placeholder="Korisničko ime *" id="username" name="username">
      <span class="text-muted" *ngIf="formaRegistracija.get('username')?.invalid && formaRegistracija.get('username')?.touched"> Unijeli ste nepostojeće korisničko ime</span>

      <input name="password" type="password" formControlName ="password" placeholder="Lozinka *" id ="password">
      <span class="text-muted" *ngIf="formaRegistracija.get('password')?.invalid && formaRegistracija.get('password')?.touched">Lozinka netačna</span>

    </div>
    <button class="regist" type="submit" [disabled]="!formaRegistracija.valid" routerLink="/ponuda" routerLinkActive="active">LOGIN</button>
  </form>
</div>
