<app-nav-bar></app-nav-bar>
<div class="container">
  <button (click)="Klik()" class="klik_vijest" routerLink="/psg-u-problemima" routerLinkActive="active"></button>
  <img class="lopta" src="../../../assets/Slike/fudbal-ikona.png" alt="">
  <p class="ime_sporta_gornji">FUDBAL</p>
  <div class="sport">
    <div class="vijest">
      <h1>PSG u problemima! Argentinac bez rješenja za odbranu Chelseaja</h1>
      <img src="../assets/Slike/messi.jpg" alt="" class="slika-vijest">
      <p class="objava">Broj pregleda: {{brojac}}</p>
      <p class="objava">Objavio: Ahmed B. Datum: 23.01.2022. Vrijeme: 22:31</p>
      <p class="text-ispod">Lionel Messi proživljava određenu krizu u redovima Parižana. Od dolaska u ekipu iz glavnog grada Francuske, zabio je tek...</p>
    </div>
    <div class="vijest">
      <h1>Leeds preokrenuo 2:0 i slavio nevjerovatnim pogotkom u 92. minuti</h1>
      <img src="../assets/Slike/leeds.jpg" alt="" class="slika-vijest">
      <p class="objava">Broj pregleda: 14</p>
      <p class="objava">Objavio: Džemal P. Datum: 24.01.2022. Vrijeme: 08:11</p>
      <p class="text-ispod">Igrači FPL-a mogu odahnuti, Leeds United će ostati u utrci za mjestom u Evropi nakon jučerašnjeg preokreta, a glavni akter...</p>
    </div>
  </div>
  <img class="lopta-kosarka" src="../../../assets/Slike/kosarka-ikona.png" alt="">
  <p class="ime_sporta">KOŠARKA</p>
  <div class="sport">
    <div class="vijest">
      <h1>Musa preko Madrida do novog double-double učinka</h1>
      <img src="../assets/Slike/mu.jpg" alt="" class="slika-vijest">
      <p class="objava">Broj pregleda: 3211</p>
      <p class="objava">Objavio: Almedin M. Datum: 23.01.2022. Vrijeme: 22:19</p>
      <p class="text-ispod">Džanan Musa nastavlja da rešeta obruče u španjolskoj ligi, a najnovija inicijativa je da se ulica u Lugu preimenuje u...</p>
    </div>
    <div class="vijest">
      <h1>Dončić će se odazvati na poziv selektora Slovenije</h1>
      <img src="../assets/Slike/doncic.jpg" alt="" class="slika-vijest">
      <p class="objava">Broj pregleda: 142</p>
      <p class="objava">Objavio: Zahida H. Datum: 24.01.2022. Vrijeme: 13:47</p>
      <p class="text-ispod">Nakon što završi obaveze u Dallasu, jedan od najboljih evropskih košarkaša će put Podveležja gdje će selektor Slovenije...</p>
    </div>
  </div>
  <img class="lopta-tenis" src="../../../assets/Slike/tenis.png" alt="">
  <p class="ime_sporta">TENIS</p>
  <div class="sport">
    <div class="vijest">
      <h1>Džumhur će se za naredni Grand Slam pripremati u Kiseljaku</h1>
      <img src="../assets/Slike/dzumuhur.jpg" alt="" class="slika-vijest">
      <p class="objava">Broj pregleda: 910</p>
      <p class="objava">Objavio: Aleksa A. Datum: 23.01.2022. Vrijeme: 22:42</p>
      <p class="text-ispod">Nakon ispadanja u 1. kolu Austrailan Opena, Damir Džumhur se vratio u BiH, a pripreme za French Open...</p>
    </div>
    <div class="vijest">
      <h1>Đoković će investirati 4 miliona eura u teniske terene u Visokom</h1>
      <img src="../assets/Slike/đokovic.jpg" alt="" class="slika-vijest">
      <p class="objava">Broj pregleda: 4</p>
      <p class="objava">Objavio: Zejd D. Datum: 24.01.2022. Vrijeme: 19:41</p>
      <p class="text-ispod">Svjetski broj 1, na nagovor Semira Osmanagića, gradit će kompleks teniskih terena podno visočkih piramida, dok će...</p>
    </div>
  </div>
</div>
<app-footer></app-footer>

