body{
  background-color: #393e46;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html{
  background-color: #393e46;
}

a{
  text-decoration: none;
  color: #222831;

}

.swal-button{
  background-color: #fd7014;
}
/* You can add global styles to this file, and also import other style files */
